body{
  padding: 0px;
  margin: 0px;
}

.navBar {
  width: 100%;
  background-color: #3D2D44;
  position: relative;
  height: auto;
  justify-content: center;
  display: flex;
  outline: 1px dashed #FFF47B;
    outline-offset: -10px;
}

.imageLogo {
  display: block;
  padding: 10px;
  margin: auto;
}


.buttons {
  background-color: #3D2D44;
  position: relative;
  width: 70%;
  margin: 12px;

}
 .button {
  background-color: #3D2D44;
  width: auto;
  height: 100%;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 60px
}

.buttonRight {
  float: right;
}

.logo {
  float: left;
}

.buttonCenter {
  margin:0 auto;
}

.heroImage {
  display:flex;
  flex-direction: row;
  background-color: lightblue;
  height: 500px;
  width: 100%;
}

.section {
  background-color: #3D2D44;
  height: 500px;
  width: 100%;
  outline: 1px dashed #FFF47B;
    outline-offset: -10px;
}

.footer {
  height: 90px;
  background-color: #FFF47B;
  outline: 1px dashed #3D2D44;
  outline-offset: -10px;
}

.box{
  display: flex;
  height:100%;
  width: 50%;
}
.rightSide {
  background-color: #FFF47B;
  outline: 1px dashed #3D2D44;
  outline-offset: -10px;
 
}
.leftSide {
  background-color: #3D2D44;
    outline: 1px dashed #FFF47B;
    outline-offset: -10px;
}

